**T2 DataFrame Basics**

In [29]:
import pandas as pd

In [2]:

df=pd.read_csv('C:\\Users\\hp\\Desktop\\new_subhash\\weather_data.csv')
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [3]:
# we can also create a dict and after we can convert into dataframe
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']}
df=pd.DataFrame(weather_data)
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [4]:
rows, columns = df.shape
rows

6

In [5]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [6]:
df[1:3] # if we want to print 2 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [7]:
# if we want to print columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day # we print olny day column values

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
df.event # df[event] both are same work

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [10]:
type(df['event']) # we can check the data type as particular column

pandas.core.series.Series

In [11]:
df[['day','event']] # we can find columns, if we want to find particular colunm and number of columns

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [12]:
df['temperature'].max() # we find the maximum value in temperature column

35

In [13]:
df['temperature'].min() # we find the minimum value in temperature column

24

In [14]:
df['temperature'].std() # we find the standardrization value in temperature column

3.8297084310253524

In [15]:
df['temperature'].mean()

30.333333333333332

In [16]:
df['temperature'].describe() # we check the details of stastics vales by this method

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [41]:
df[df.temperature >=32]

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Rain   1/5/2017           32          4

In [18]:
df[df.temperature==df.temperature.max()] # if we want to find particular row

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [19]:
df[df.temperature==df['temperature'].max()] # if we want to find particular row, we can also use this method, this method should we use because if the column name with space and _ then we need to use this method

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [20]:
df[['day','temperature']][df.temperature==df['temperature'].max()] # if we want to find the max temp with only day

        day  temperature
1  1/2/2017           35

In [21]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [22]:
df.set_index('day',inplace=True) # we set index column of day

In [23]:
df.head()

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain

In [24]:
df.loc['1/2/2017'] # we can find vales of particular date

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [25]:
df.reset_index(inplace=True) # we can reset  previous index
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [26]:
df.set_index('event',inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [28]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

**T3 Different Ways Of Creating DataFrame**